{% extends "poll/base.html" %}

{% block title %}Create Poll{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-8 col-lg-offset-2">
        <div class="card card-default">
            <div class="card-header">
                <h3 class="card-title">Create A New Poll</h3>
            </div>
                
            <form method="POST">
                {% csrf_token %}


                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                {{ form.question.label_tag }}
                                {{ form.question }}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                {{ form.choice_1.label_tag }}
                                {{ form.choice_1 }}
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                {{ form.choice_2.label_tag }}
                                {{ form.choice_2 }}
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                {{ form.choice_3.label_tag }}
                                {{ form.choice_3 }}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <hr />
                        <div class="col-lg-4">
                            <input type="submit" class="btn btn-info" value="create"/>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
{% endblock %}